<!-- HEADER -->
<body>
  <header class="header" id="header">
    <nav class="nav container">
      <a href="#" class="nav_logo">Khooshal</a>
      <div class="nav_menu" id="nav-menu">
        <ul class="nav_list grid">
          <li class="nav_item">
            <a href="#home" class="nav_link"></a>
            <i class="fas fa-home nav_icon"></i> Home
          </li>

          <li class="nav_item">
            <a href="#about" class="nav_link"></a>
            <i class="far fa-user nav_icon"></i> About
          </li>

          <li class="nav_item">
            <a href="#skills" class="nav_link"></a>
            <i class="far fa-file nav_icon"></i> Skills
          </li>

          <li class="nav_item">
            <a href="#portfolio" class="nav_link"></a>
            <i class="fas fa-layer-group nav_icon"></i> Portfolio
          </li>

          <li class="nav_item">
            <a href="#contact" class="nav_link"></a>
            <i class="far fa-comment-dots nav_icon"></i> Contact
          </li>
        </ul>
        <i class="fas fa-times nav_close" id="nav-close"></i>
      </div>

      <div class="nav_btns">
        <div class="nav_toggle" id="nav-toggle">
          <i class="fas fa-list"></i>
        </div>
      </div>
    </nav>
  </header>
</body>










