.about_description {
  text-align: center;
  margin-bottom: 2.5rem;
  font-family: 'Poppins', sans-serif;
}

.about_info {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.5rem;
}

.about_info-title {
  font-size: 1.60rem;
  font-weight: 600;
  color: hsl(250, 8%, 15%);
  font-family: 'Poppins', sans-serif;
}


.about_info-name {
  font-size: 0.80rem;
}

.about_info-title,
.about_info-name {
  display: block;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}








