.button {
  display: inline-block;
  background-color: hsl(240, 69%, 61%);
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
}

.button:hover {
  color: white;
  text-decoration: none;
  background-color: hsl(240, 57%, 53%);
}

.button-icon {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  transition: 0.3s;
}

.button-flex {
  display: inline-flex;
  align-items: center;
}








