.footer {
  padding: 2rem;
  background-color: hsl(250, 69%, 61%);
  height: 150px;
  width: 100%;
}

.footer_copy {
  font-size: 0.9rem;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.heart_icon {
  padding: 3px;
}

.footer_copy_1 {
  font-size: 0.813rem;
  text-align: center;
  color: hsl(250, 8%, 65%);;
  font-family: 'Poppins', sans-serif;
  margin-top: -5px;
}
