
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: hsl(240, 60%, 99%);
}

.nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_toggle {
  color: hsl(240, 8%, 15%);
  font-weight: 500;
  padding-left: 18px;
}

.nav_logo:hover {
  text-decoration: none;
  color: hsl(240, 69%, 61%);
}

.nav_toggle{
  font-size: 1.1rem;
  cursor: pointer;
}

.nav_toggle:hover{
  color: hsl(240, 69%, 61%);
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: hsl(240, 60%, 99%);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0,0,0,0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav_list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  font-family: 'Poppins', sans-serif;
}

.nav_item a {
  color: hsl(240, 8%, 15%);
}

.nav_item a:hover {
  text-decoration: none;
  color: hsl(240, 69%, 61%);
}

.nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.90rem;
  color: hsl(240, 8%, 15%);
  font-weight: 500;
}

.nav_item:hover {
  color: hsl(240, 69%, 61%);
}

.nav_icon {
  font-size: 1.2rem;
}

.nav_close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: hsl(240, 50%, 61%);
}

.nav_close:hover {
  color: hsl(240, 57%, 53%);
}

.fa-list:before {
  content: "\f03a";
  font-size: large;
  margin-right: 13px;
}

.show-menu {
  bottom: 0;
}


































